.AA{
    color:blue;
    font-weight: bold;
}
.A{
    color:green;
     font-weight: bold;

}
.B{
    color:yellow;
     font-weight: bold;
}
.C{
    color:coral;
     font-weight: bold;
}
.D{
    color:red;
     font-weight: bold;
}